.productDetails {
  margin-top: 1.625rem;

  .product-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8125rem;

    .product-image {
      flex-direction: column;
      gap: 2rem;
      align-items: center;

      img {
        cursor: pointer;
        border-radius: 0.5rem;
      }

      .thumbnail-wrapper {
        align-items: center;
        gap: 2rem;
      }
    }

    .product-description {
      padding-block: 3.875rem;
      margin-top: 1.5rem;

      .pathName {
        color: $gray;
      }

      .description {
        font-size: 0.9rem;
        color: $gray;
      }

      h1,
      .product-price {
        margin: 1rem 0;

        span {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      .action-wrapper {
        button:hover {
          opacity: 0.8 !important;
          background: $orange !important;
          color: $white !important;
        }
      }
    }
  }
}

.thumbnail {
  border-radius: 0.5rem;
  background-color: $white;

  & > img {
    cursor: pointer;
    width: 88px;
    aspect-ratio: 1;

    & > img:hover,
    & > img:focus {
      filter: opacity(0.5);
    }
  }

  .active {
    filter: opacity(0.35);
    border: 1px solid $orange;
  }
}

.container-lg {
  width: 100%;
  margin-inline: auto;
}

.container-md {
  width: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.flow > * + * {
  margin-top: 1.5rem;
}

.m-auto {
  margin: auto;
}

.d-inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

@media (max-width: 64em) {
  .productDetails {
    margin-top: 3rem;

    .product-container {
      padding-inline: 2rem;
      gap: 2rem;

      .product-image {
        .thumbnail-wrapper {
          justify-content: center;
        }
      }

      .product-description {
        padding-block: 2rem;

        .action-wrapper {
          flex-direction: column;
          align-items: stretch;

          .product-quantity {
            justify-content: center;
          }
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .productDetails {
    margin-top: 0;

    .product-container {
      grid-template-columns: 1fr;
      padding: 0;

      .product-image {
        position: relative;

        img {
          cursor: none;
          border-radius: 0;
        }

        .lightbox-control {
          width: 40px;
        }

        .control-prev {
          top: 50%;
          left: 5%;
        }

        .control-next {
          top: 50%;
          right: 5%;
        }

        .thumbnail-wrapper {
          display: none;
        }
      }

      .product-description {
        padding-inline: 1.5rem;

        .product-price {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
