.checkOut {
  padding: 1rem 0;

  .clientInfo {
    width: 70%;
    margin-bottom: 1rem;

    .cardDate {
      gap: 1rem;
    }

    .checkoutButton {
      padding: 0.5rem 0;
      width: 17.3rem;
      border-radius: 0.225rem;
      background: $orange;
      color: $white;
      font-size: 1rem;
    }

    form {
      margin-bottom: 1rem;
      input,
      .select {
        border: 0.0625rem solid $gray;
        border-radius: 0.225rem;
        padding: 0.125rem 0.5rem;
        width: 100%;
      }

      .address {
        width: 207%;
      }

      .dc_flex {
        display: flex;
        flex-direction: column;
      }

      .select {
        width: 17.3rem;
        background: $white;
      }

      ul {
        position: absolute;
        background: $offWhite;
        width: 17.3rem;
        margin-top: 1.5rem;
        padding: 1rem;

        li {
          cursor: pointer;
        }
      }
    }
  }

  .currentCart {
    width: 28%;
  }
}
