.checkOutSection {
  padding: 1rem 0;

  h3 {
    padding-bottom: 1rem;
  }

  .clientInfo {
    width: 70%;
    margin-bottom: 1rem;

    .cardDate {
      gap: 1rem;
    }

    .checkoutButton {
      padding: 0.5rem 0;
      width: 17.3rem;
      border-radius: 0.225rem;
      background: $orange;
      color: $white;
      font-size: 1rem;
    }

    form {
      margin-bottom: 1rem;
      input,
      .select {
        border: 0.0625rem solid $gray;
        border-radius: 0.225rem;
        padding: 0.125rem 0.5rem;
        width: 100%;
      }

      .address {
        width: 207%;
      }

      .dc_flex {
        display: flex;
        flex-direction: column;
      }

      .select {
        width: 17.3rem;
        background: $white;
      }

      ul {
        position: absolute;
        background: $offWhite;
        width: 17.3rem;
        margin-top: 1.5rem;
        padding: 1rem;

        li {
          cursor: pointer;
        }
      }
    }
  }

  .currentCart {
    width: 28%;
  }
}

@media screen and (max-width: 767px) {
  .checkOutSection {
    .d_flex {
      flex-direction: column;

      div {
        width: 100% !important;
      }

      .clientInfo {
        form {
          div {
            padding-bottom: 1rem;
          }

          .address {
            width: 100%;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}
@media screen and (min-width: 1024px) {
}
